.pre-signup-page {
  background: linear-gradient(90deg, rgb(57, 44, 84), rgb(29, 88, 85));
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.white-box{
  background-color: white;
  width: 864px;
  height: 768px;
  margin: 5em 0;
  border-radius: 12px;
}
.pre-signup-page .step{
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.step h2{
  font-weight: 700;
  font-size: 24px;
  margin: 0 0;
}

.step>p{
  font-size: 13px;
  opacity: 80%;
}

.step p{
  font-size: 14px;
}

.pre-signup-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* border: 1px solid black; */
}

.pre-signup-grid-item{
  width: 100%;
  border: 1px solid black;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0 10px;
}

.pre-signup-grid-text-content{
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-left: 8px;
}
.pre-signup-grid-text-content p{
  font-size: 12px;
}

.pre-signup-grid-text-content label{
  font-size: 14px;
  font-weight: 600;
}